{namespace mp=AawTeam\Minipoll\ViewHelpers}
<mp:ifCanVote poll="{poll}">
    <div>
        <mp:form.captcha poll="{poll}">
            <f:render partial="{captcha.partialName}" optional="1" arguments="{_all}" />
        </mp:form.captcha>
    </div>
    <div>
        <f:form.submit value="Vote (LLL)" name="vote" />
    </div>
</mp:ifCanVote>

<mp:ifCanDisplayResults poll="{poll}">
    <div>
        <f:link.action action="showResult" arguments="{poll:poll.uid}">
            Results (LLL)
        </f:link.action>
    </div>
</mp:ifCanDisplayResults>
