{namespace mp=AawTeam\Minipoll\ViewHelpers}

<style type="text/css">
.tx_minipoll_hp input[type="text"] {
    top:-10000px;
    left:-10000px;
    position:absolute;
}
</style>

<f:render partial="Poll/Title" arguments="{_all}" />
<f:render partial="Poll/Description" arguments="{_all}" />
<f:form action="vote" arguments="{poll:poll.uid}" additionalParams="{additionalGetParams}">
    <f:comment>These two input fields are part of the honeypot check, do not remove!</f:comment>
    <div class="tx_minipoll_hp">
        <f:form.hidden name="hp[one]" value="" />
        <f:form.textfield name="hp[two]" value="" />
    </div>
    <f:comment>This generates a csrf token in a hidden field. Do not remove, otherwise voting will not work anymore!</f:comment>
    <mp:form.csrfToken poll="{poll}" />
    <ul>
    <f:for each="{poll.options}" as="option">
        <f:render partial="Poll/Option" arguments="{_all}" />
    </f:for>
    </ul>
    <div class="tx_minipoll-footer">
        <f:render partial="Poll/Buttons" arguments="{_all}" />
    </div>
</f:form>
