$mainColor: #5C98DD;
$gray: #999;

$buttonColor: $mainColor;
$buttonColorGray: $gray;
$buttonFontColor: #fff;

$messageBorderColor: $gray;
$messageBorderColorError: #e44e3a;

$generalSpacing: 1.250em;
$buttonHeight: 2.5em;
$chartBarHeight: 2.5em;

$buttonFontSize: 0.875em;

$borderRadius: 0.125em;

$transitionDuration: 0.2s;
