<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mp="http://typo3.org/ns/AawTeam/Minipoll/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="content">
Here comes the DISPLAYMESSAGE view, this should be removed (TODO)!
<f:comment>
    <f:flashMessages />

    <f:if condition="{poll}">
        <div class="tx_minipoll-footer">
            <mp:ifCanVote poll="{poll}">
                <f:link.action action="detail" arguments="{poll:poll.uid}" addQueryString="1" addQueryStringMethod="GET" class="tx_minipoll-button">
                    <f:translate key="link.action.detail" />
                </f:link.action>
            </mp:ifCanVote>
            <mp:ifCanDisplayResults poll="{poll}">
                <f:link.action action="showResult" arguments="{poll:poll.uid}" addQueryString="1" addQueryStringMethod="GET" class="tx_minipoll-button tx_minipoll-button-gray">
                    <f:translate key="link.action.showresult" />
                </f:link.action>
            </mp:ifCanDisplayResults>
        </div>
    </f:if>
</f:comment>
</f:section>

</html>
