<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mp="http://typo3.org/ns/AawTeam/Minipoll/ViewHelpers"
      data-namespace-typo3-fluid="true">

<mp:registerPollInPageCache poll="{poll}" />

<div class="tx_minipoll-poll">
    <mp:ifCanVote poll="{poll}">
        <f:then>
            <f:render partial="Poll/Form.html" arguments="{_all}" />
        </f:then>
        <f:else>
            <f:render partial="Poll/Results.html" arguments="{_all}" />
        </f:else>
    </mp:ifCanVote>
</div>

</html>
