.tx_minipoll-captcha {
    margin-bottom: $generalSpacing;

    img {
        border: 0.063em solid $gray;
        margin-left: 0;
        margin-right: $generalSpacing;
        vertical-align: middle;
    }

    img + span {
        vertical-align: middle;
        display: inline-block;
        width: 9.375em;
    }

    label {
        display: block;
        margin-top: $generalSpacing*.5;
    }

    input {
        margin: $generalSpacing*0.25 0;
    }
}
