$chartBarHeight: 2.5em !default;

.tx_minipoll-csschart {
    margin-bottom: $generalSpacing*0.5;
}

.tx_minipoll-option {
    margin-bottom: $generalSpacing;

    &:last-child {
        margin-bottom: 0;
    }
}

.tx_minipoll-option-text {
    margin-bottom: $generalSpacing*0.25;
}

.tx_minipoll-option-title {
    font-weight: bold;
    display: inline-block;
}

.tx_minipoll-option-votes {
    float: right;
    font-weight: bold;
}

.tx_minipoll-option-bar {
    position: relative;
    background: $mainColor;
    height: $chartBarHeight;
    display: inline-block;
    min-width: 0.063em;
    text-align: center;
    border-radius: $borderRadius;

    > * {
        margin: 0 $generalSpacing*0.5;
        line-height: $chartBarHeight;
    }
}
