div[data-minipoll-messages] {
    margin: 0;

    > div {
        padding: $generalSpacing*0.5;
        margin-top: $generalSpacing;
        border: 0.063em solid $messageBorderColor;

        + div {
            margin-top: $generalSpacing*0.25;
        }
    }
}
