.tx_minipoll-poll {
    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: $generalSpacing*0.25;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.tx_minipoll-poll + .tx_minipoll-poll {
    margin-top: $generalSpacing;
}
