<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:mp="http://typo3.org/ns/AawTeam/Minipoll/ViewHelpers"
      xmlns:freeCap="http://typo3.org/ns/SJBR/SrFreecap/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div>
    <freeCap:image />
    <freeCap:audio />
</div>
<div>
    <label for="tx_minipoll-captcha-{poll.uid}">{freeCap:translate(key: 'notice')} {freeCap:translate(key: 'explain')}</label>
    <f:form.textfield placeholder="{f:translate(key:'form.field.captcha.placeholder')}" id="tx_minipoll-captcha-{poll.uid}" name="captcha" value="" />
</div>

</html>
