/*
 * Copyright 2017 Agentur am Wasser | Maeder & Partner AG
 *
 * This file is part of the TYPO3 CMS project.
 *
 * It is free software; you can redistribute it and/or modify it under
 * the terms of the GNU General Public License, either version 2
 * of the License, or any later version.
 *
 * For the full copyright and license information, please read the
 * LICENSE file that was distributed with this source code.
 *
 * The TYPO3 project - inspiring people to share!
 */
.tx_minipoll .tx_minipoll-button {
    display: inline-block;
    position: relative;
    padding: 0 1.25em;
    line-height: 2.5em;
    font-size: 0.875em;
    color: #fff;
    background: #5C98DD;
    border-radius: 0.125em;
    width: auto;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.tx_minipoll .tx_minipoll-button:hover, .tx_minipoll .tx_minipoll-button:focus, .tx_minipoll .tx_minipoll-button:active {
    text-decoration: none;
    background: #327dd4;
}

.tx_minipoll .tx_minipoll-button.tx_minipoll-button-gray {
    background: #999;
    float: right;
}

.tx_minipoll .tx_minipoll-button.tx_minipoll-button-gray:hover, .tx_minipoll .tx_minipoll-button.tx_minipoll-button-gray:focus, .tx_minipoll .tx_minipoll-button.tx_minipoll-button-gray:active {
    text-decoration: none;
    background: gray;
}

.tx_minipoll .tx_minipoll-captcha {
    margin-bottom: 1.25em;
}

.tx_minipoll .tx_minipoll-captcha img {
    border: 0.063em solid #999;
    margin-left: 0;
    margin-right: 1.25em;
    vertical-align: middle;
}

.tx_minipoll .tx_minipoll-captcha img + span {
    vertical-align: middle;
    display: inline-block;
    width: 9.375em;
}

.tx_minipoll .tx_minipoll-captcha label {
    display: block;
    margin-top: 0.625em;
}

.tx_minipoll .tx_minipoll-captcha input {
    margin: 0.3125em 0;
}

.tx_minipoll .tx_minipoll-csschart {
    margin-bottom: 0.625em;
}

.tx_minipoll .tx_minipoll-csschart-option {
    margin-bottom: 1.25em;
}

.tx_minipoll .tx_minipoll-csschart-option:last-child {
    margin-bottom: 0;
}

.tx_minipoll .tx_minipoll-csschart-option-text {
    margin-bottom: 0.3125em;
}

.tx_minipoll .tx_minipoll-csschart-option-title {
    font-weight: bold;
    display: inline-block;
}

.tx_minipoll .tx_minipoll-csschart-option-votes {
    float: right;
    font-weight: bold;
}

.tx_minipoll .tx_minipoll-csschart-option-bar {
    position: relative;
    background: #5C98DD;
    height: 2.5em;
    display: inline-block;
    min-width: 0.063em;
    text-align: center;
    border-radius: 0.125em;
}

.tx_minipoll .tx_minipoll-csschart-option-bar > * {
    margin: 0 0.625em;
    line-height: 2.5em;
}

.tx_minipoll div[data-minipoll-messages] {
    margin: 0;
}

.tx_minipoll div[data-minipoll-messages] > div {
    padding: 0.625em;
    margin-top: 1.25em;
    border: 0.063em solid #999;
}

.tx_minipoll div[data-minipoll-messages] > div + div {
    margin-top: 0.3125em;
}

.tx_minipoll .tx_minipoll-footer .tx_minipoll-footer-text {
    display: inline-block;
    line-height: 2.5em;
}

.tx_minipoll .tx_minipoll-results .tx_minipoll-footer .tx_minipoll-button {
    float: right;
}

.tx_minipoll .tx_minipoll-svgpiechart {
    margin-bottom: 0.625em;
}

.tx_minipoll .tx_minipoll-svgpiechart svg {
    max-width: 100%;
}

.tx_minipoll .tx_minipoll-svgpiechart svg g {
    transform-origin: 0px 0px;
}

.tx_minipoll .tx_minipoll-svgpiechart svg path {
    transition: transform .2s;
    transition-timing-function: cubic-bezier(0, 1.25, 0.46, 2.01);
}

.tx_minipoll .tx_minipoll-svgpiechart svg g:hover path {
    transform: scale(1.01, 1.01);
}

.tx_minipoll .tx_minipoll-svgpiechart-tooltip {
    background: #fff;
    color: #000;
    line-height: 2.5em;
    padding: 0 0.625em;
    border-radius: 0.125em;
    border: 0.063em solid #f3f3f3;
    position: absolute;
    display: none;
}

.tx_minipoll .tx_minipoll-svgpiechart-tooltip.tx_minipoll-svgpiechart-tooltip-visible {
    display: block;
}

.tx_minipoll .tx_minipoll-poll {
    position: relative;
    min-height: 200px;
}

.tx_minipoll .tx_minipoll-poll ul {
    list-style: none;
    padding: 0;
}

.tx_minipoll .tx_minipoll-poll li {
    margin-bottom: 0.3125em;
}

.tx_minipoll .tx_minipoll-poll li:last-child {
    margin-bottom: 0;
}

.tx_minipoll .tx_minipoll-poll + .tx_minipoll-poll {
    margin-top: 1.25em;
}

.tx_minipoll .tx_minipoll-spinner {
    display: none;
}

.tx_minipoll .tx_minipoll-loading .tx_minipoll-spinner {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    transform: rotate(0deg);
    -webkit-animation: tx_minipoll-rotate 2s linear infinite;
            animation: tx_minipoll-rotate 2s linear infinite;
}

.tx_minipoll .tx_minipoll-loading .tx_minipoll-spinner circle {
    stroke: #9dcdff;
    stroke-linecap: round;
    -webkit-animation: tx_minipoll-dash 1.5s ease-in-out infinite;
            animation: tx_minipoll-dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes tx_minipoll-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes tx_minipoll-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes tx_minipoll-dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

@keyframes tx_minipoll-dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
